<ng-template #loading><mat-spinner class="mx-auto" #loading></mat-spinner></ng-template>

<mat-drawer-container
  [autosize]="true"
  class="min-h-full max-w-7xl mx-auto border-x"
>
    <mat-drawer mode="side" opened class="p-6 w-[310px]"> 
        <app-filters (showCategory)="onShowCategory($event)"></app-filters>
    </mat-drawer>
    <mat-drawer-content class="p-6">
        <app-products-header 
        (columnsCountChange)="onColumnsCountChange($event)"
        (itemsCountChange)="onItemsCountChange($event)"
        (sortChange)="onSortChange($event)" 
        [width]="screenWidth"
        ></app-products-header>
        <mat-grid-list
        *ngIf="products; else loading"
        gutterSize="16"
        [cols]="cols"
        [rowHeight]="rowHeight"
        >
        <mat-grid-tile *ngFor="let product of products">
            <app-product-box 
            [product]="product"
            class="w-full" 
            [fullWidthMode]="cols === 1"
            (addToCart)="onAddToCart($event)"
            >
        </app-product-box>
    </mat-grid-tile>
</mat-grid-list>
</mat-drawer-content>
</mat-drawer-container>

